
<div class="container">
	<div class="row">

		<div class="col-md-4" onclick="">
			<h3>Example</h3>
			<img src="https://cdn2.iconfinder.com/data/icons/picons-essentials/57/document_list-512.png" class="ImageContainer" />
		</div>
		<div class="col-md-4" onclick="">
			<h3>Example2</h3>
			<img src="http://1.bp.blogspot.com/---COceW7Wn8/Uuo-9P-cofI/AAAAAAAABKE/kr44WIymjT4/s1600/dead%2Bbird.png" class="ImageContainer" />
		</div><div class="col-md-4" onclick="">
			<h3>Example3</h3>
			  	<img src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQC-YwcicVkUaIPB&w=155&h=114&url=https%3A%2F%2Forigin.ih.constantcontact.com%2Ffs117%2F1112918605094%2Fimg%2F10.png" class="ImageContainer" />
		</div>
	</div>
</div>
